<ion-header>
  <ion-toolbar>
    <ion-title>Fund Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" size="large">Transfer to same bank</ion-button>
  <ion-button expand="full" size="large">Transfer to other bank</ion-button>
  <ion-list>
    <ion-item>
      <ion-label>Benefitiary AC No</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm Benefitiary AC No</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Amount to transfer</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Remarks</ion-label>
      <ion-textarea>
      </ion-textarea>
    </ion-item>

    <ion-button expand="transfer" (click)="transfer()">Transfer </ion-button>
  </ion-list>
</ion-content>